=image_tag('article-1.jpg', :class => 'fake-article-img')
%section.recirculation
  .hide-scrollbar
    %h2
      Stories Related to:
      %span
        =link_to 'Pete Flint,', '#'
        =link_to 'Trulia,', '#'
        =link_to 'disruptive technology', '#'
    .row
      .row__inner
        .tile
          .tile__media
            =image_tag 'article1.jpg', :class => 'tile__img'
          .tile-headline
            5 ways to improve your business and work-life balance
          .tile__details
            .tile__title
              How do you help more clients without feeling like the marrow has been sucked from your bones?
              %br
              %br
              =link_to 'read >', '#'

        .tile
          .tile__media
            =image_tag 'article2.jpg', :class => 'tile__img'
          .tile-headline
            Trelora launches in Seattle with unpopular marketing stunt
          .tile__details
            .tile__title
              Flat-fee real estate startup Trelora launched in its second city this week — and annoyed all
              %br
              %br
              =link_to 'read >', '#'

        .tile
          .tile__media
            =image_tag 'article4.jpg', :class => 'tile__img'
          .tile-headline
            Real estate startups make a splash on Forbes Fintech 50
          .tile__details
            .tile__title
              7 companies that are changing the mortgage, investment and insurance businesses
              %br
              %br
              =link_to 'read >', '#'

        .tile
          %span.recirc-sponsored-tag
            sponsored content
          .tile__media
            =image_tag 'article3.jpg', :class => 'tile__img'
          .tile-headline
            Real estate sales Jedi mind tricks
          .tile__details
            .tile__title
              Do you know the tips and techniques to be a master in persuasion and influence? Today I’m going to show you some advanced sales techniques!
              %br
              %br
              =link_to 'read >', '#'
        .tile
          .tile__media
            =image_tag 'article5.jpg', :class => 'tile__img'
          .tile-headline
            10 hidden Facebook features all agents should know
          .tile__details
            .tile__title
              Are you a power-user, casual browser or self-effacing noob? No matter your level of social media expertise, you'll want to read this.
              %br
              %br
              =link_to 'read >', '#'
        .tile
          .tile__media
            =image_tag 'article6.jpg', :class => 'tile__img'
          .tile-headline
            White House budget plan seeks deep cuts to housing programs
          .tile__details
            .tile__title
              Trump Administration proposes deep cuts to housing programs in latest budget plan.
              %br
              %br
              =link_to 'read >', '#'
        .tile
          .tile__media
            =image_tag 'article7.jpg', :class => 'tile__img'
          .tile-headline
            Tell real estate leaders what you really think
          .tile__details
            .tile__title
              Participate in Inman's first-ever Leadership Survey and enter our drawing for two free tickets to ICSF 18
              %br
              %br
              =link_to 'read >', '#'
        .tile
          .tile__media
            =image_tag 'article8.jpg', :class => 'tile__img'
          .tile-headline
            3 lead generation strategies that keep on giving
          .tile__details
            .tile__title
              Would you like to generate leads without spending a lot of money, cold calling or door-knocking? Here are three ways to generate leads that keep on giving.
              %br
              %br
              =link_to 'read >', '#'
        .tile
          .tile__media
            =image_tag 'article9.jpg', :class => 'tile__img'
          .tile-headline
            6 phases to real estate mastery
          .tile__details
            .tile__title
              This video is from last year's Success Summit where I got super deep with an attendee who had the guts to admit publicly, “I'm exhausted!”
              %br
              %br
              =link_to 'read >', '#'
  .hide-scrollbar
    %h2.category-header
      Technology News
    .row
      .row__inner
        .tile
          .tile__media
            %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Untitled-design-22-1400x621.png"}/
          .tile-headline
            %h2 Trelora launches in Seattle with unpopular marketing stunt
          .tile__details
            .tile__title
              How do you help more clients without feeling like the marrow has been sucked from your bones?
              %br
              %br
              =link_to 'read >', '#'
        .tile
          .tile__media
            %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/hero_01-01-2-450x200.png"}/
          .tile-headline
            %h2 White House budget plan seeks deep cuts to housing programs
          .tile__details
            .tile__title
              Flat-fee real estate startup Trelora launched in its second city this week — and annoyed all
              %br
              %br
              =link_to 'read >', '#'
        .tile
          .tile__media
            %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Hero-Image-C21-450x200.jpg"}/
          .tile-headline
            %h2 Tell real estate leaders what you really think
          .tile__details
            .tile__title
              7 companies that are changing the mortgage, investment and insurance businesses
              %br
              %br
              =link_to 'read >', '#'
        .tile
          .tile__media
            %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/01/Untitled-design-57-450x200.png"}/
          .tile-headline
            %h2 5 ways to improve your business and work-life balance
          .tile__details
            .tile__title
              Do you know the tips and techniques to be a master in persuasion and influence? Today I’m going to show you some advanced sales techniques!
              %br
              %br
              =link_to 'read >', '#'
        .tile
          .tile__media
            %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Untitled-design-16-450x200.png"}/
          .tile-headline
            %h2 Trelora launches in Seattle with unpopular marketing stunt
          .tile__details
            .tile__title
              10 hidden Facebook features all agents should know
              %br
              %br
              =link_to 'read >', '#'
        .tile
          .tile__media
            %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Untitled-design-22-1400x621.png"}/
          .tile-headline
            %h2 Trelora launches in Seattle with unpopular marketing stunt
          .tile__details
            .tile__title
              White House budget plan seeks deep cuts to housing programs
              %br
              %br
              =link_to 'read >', '#'
  %h3
    Inman
    %span Guides
  %ul.guides
    %li.card.radio-tower
      .guide-under
      .guide-headline
      = render :partial => "static_pages/guides/radio_tower"
    %li.card
      .guide-headline
      .gh-posterior-1.gh-posterior
      .gh-posterior-2.gh-posterior
      .gh-posterior-3.gh-posterior
    %li.card.water-stomp
      .guide-under
      .guide-headline
      = render :partial => "static_pages/guides/water_stomp"
    %li.card
      .guide-headline
      .gh-posterior-1.gh-posterior
      .gh-posterior-2.gh-posterior
      .gh-posterior-3.gh-posterior

=image_tag('article-2.jpg', :class => 'fake-article-img')
