=image_tag('article-1.jpg', :class => 'fake-article-img')
%section.recirculation

  .row
    %h2
      Related Stories
    .row__inner
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/inman-article-online-reputation-hero-image-450x200.jpg"}/
        .tile__details
          .tile-1
            5 ways to improve your business and work-life balance
          .tile__title
            How do you help more clients without feeling like the marrow has been sucked from your bones?
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/01/remax-hero-1-450x200.png"}/
        .tile__details
          .tile-1
            Trelora launches in Seattle with unpopular marketing stunt
          .tile__title
            Flat-fee real estate startup Trelora launched in its second city this week — and annoyed all
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/Kusska_394645039-450x200.jpg"}/
        .tile__details
          .tile-1
            Real estate startups make a splash on Forbes Fintech 50
          .tile__title
            7 companies that are changing the mortgage, investment and insurance businesses
      .tile
        %span.recirc-sponsored-tag
          sponsored content
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/01/Inman-TomFerry-Week4-BannerImage-1400x788.jpg"}/
        .tile__details
          .tile-1
            Real estate sales Jedi mind tricks
          .tile__title
            Do you know the tips and techniques to be a master in persuasion and influence? Today I’m going to show you some advanced sales techniques!
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Photo-by-NeONBRAND-on-Unsplash-450x200.png"}/
        .tile__details
          .tile-1
            10 hidden Facebook features all agents should know
          .tile__title
            10 hidden Facebook features all agents should know
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Untitled-design-22-1400x621.png"}/
        .tile__details
          .tile-1
            White House budget plan seeks deep cuts to housing programs
          .tile__title
            White House budget plan seeks deep cuts to housing programs
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Untitled-design-19-450x200.png"}/
        .tile__details
          .tile-1
            %p Tell real estate leaders what you really think
          .tile__title
            %p Participate in Inman's first-ever Leadership Survey and enter our drawing for two free tickets to ICSF 18
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Hero-Image-C21-450x200.jpg"}/
        .tile__details
          .tile-1
            3 lead generation strategies that keep on giving
          .tile__title
            3 lead generation strategies that keep on giving
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/technology-good-bad-ugly-hero-2F-ICNY-18-Kaliya-Warren-450x200.png"}/
        .tile__details
          .tile-1
            6 phases to real estate mastery
          .tile__title
            6 phases to real estate mastery


  .row
    %h2.category-header
      Brokerages
    .row__inner
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Untitled-design-22-1400x621.png"}/
        .tile__details
          .tile-1
            5 ways to improve your business and work-life balance
          .tile__title
            How do you help more clients without feeling like the marrow has been sucked from your bones?
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/hero_01-01-2-450x200.png"}/
        .tile__details
          .tile-1
            Trelora launches in Seattle with unpopular marketing stunt
          .tile__title
            Flat-fee real estate startup Trelora launched in its second city this week — and annoyed all
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Hero-Image-C21-450x200.jpg"}/
        .tile__details
          .tile-1
            Real estate startups make a splash on Forbes Fintech 50
          .tile__title
            7 companies that are changing the mortgage, investment and insurance businesses
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/01/Untitled-design-57-450x200.png"}/
        .tile__details
          .tile-1
            Real estate sales Jedi mind tricks
          .tile__title
            Do you know the tips and techniques to be a master in persuasion and influence? Today I’m going to show you some advanced sales techniques!
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Untitled-design-16-450x200.png"}/
        .tile__details
          .tile-1
            10 hidden Facebook features all agents should know
          .tile__title
            10 hidden Facebook features all agents should know
      .tile
        .tile__media
          %img.tile__img{:alt => "", :src => "https://inmannews-wpengine.netdna-ssl.com/wp-content/uploads/2018/02/Untitled-design-22-1400x621.png"}/
        .tile__details
          .tile-1
            White House budget plan seeks deep cuts to housing programs
          .tile__title
            White House budget plan seeks deep cuts to housing programs

  %h3
    Guides
  %ul.guides
    %li
    %li
    %li
    %li

=image_tag('article-2.jpg', :class => 'fake-article-img')
