@charset "UTF-8";
@font-face {
  font-family: 'baltoBold';
  src: url("/fonts/bb.otf");
  /* IE9 Compat Modes */
  src: local("☺"), url("fonts/bb.otf") format("opentype");
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 7, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/_reset.scss */
body {
  line-height: 1;
}

/* line 35, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 1, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: scroll;
  height: 412px;
  overflow-y: hidden;
  margin-top: 14px;
}
/* line 12, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .guide-headline {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 50px;
  text-align: initial;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  width: 100%;
}
/* line 24, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides #TowerPoly {
  fill-opacity: 1;
  transition: all .4s;
}
/* line 29, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .guide-trigger #TowerPoly {
  fill-opacity: 0;
}
/* line 32, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .guide-trigger .card__overlay {
  width: 620px;
  height: 620px;
  top: calc(50% - 310px);
  left: calc(50% - 310px);
}
/* line 38, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .guide-trigger .card__overlay-water {
  width: 620px;
  height: 620px;
  top: calc(50% - 310px);
  left: calc(50% - 310px);
}
/* line 44, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .guide-trigger .guide-under {
  opacity: 1;
}
/* line 50, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .hover-trigger.radio-tower .card__overlay--1 {
  animation: pulse 5s linear infinite;
}
/* line 51, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .hover-trigger.radio-tower .card__overlay--2 {
  animation: pulse 3s linear infinite;
}
/* line 52, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .hover-trigger.radio-tower .card__overlay--3 {
  animation: pulse 8s linear infinite;
}
@keyframes ripplemotion {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(2.4);
    opacity: 0;
  }
  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}
@keyframes ripplemotion2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  10% {
    transform: scale(1);
    opacity: 1;
  }
  90% {
    transform: scale(2.2);
    opacity: 0;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ripplemotion3 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
/* line 74, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .hover-trigger.water-stomp #BackRipple1 {
  transform-origin: 50% 50%;
  animation-timing-function: cubic;
  animation-name: ripplemotion;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}
/* line 83, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .hover-trigger.water-stomp #BackRipple2 {
  transform-origin: 50% 50%;
  animation-timing-function: cubic;
  animation-name: ripplemotion2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}
/* line 92, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .hover-trigger.water-stomp #BackRipple3 {
  transform-origin: 50% 50%;
  animation-timing-function: cubic;
  animation-name: ripplemotion3;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}
/* line 101, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .hover-trigger.water-stomp #FrontRipple1 {
  transform-origin: 50% 50%;
  animation-timing-function: cubic;
  animation-name: ripplemotion;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}
/* line 110, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .hover-trigger.water-stomp #FrontRipple2 {
  transform-origin: 50% 50%;
  animation-timing-function: cubic;
  animation-name: ripplemotion2;
  animation-duration: 2.5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}
/* line 120, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .hover-trigger.water-stomp #FrontRipple3 {
  transform-origin: 50% 50%;
  animation-timing-function: cubic;
  animation-name: ripplemotion3;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 1.8s;
}
@keyframes bobblemotion {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(0px);
  }
  95% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bobblemotion2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  97% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
/* line 143, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .hover-trigger.water-stomp #BlockOver {
  transform-origin: 50% 50%;
  animation-timing-function: cubic;
  animation-name: bobblemotion;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: -0.5s;
}
/* line 152, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .hover-trigger.water-stomp #BlockUnder {
  transform-origin: 50% 50%;
  animation-timing-function: cubic;
  animation-name: bobblemotion;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: -0.5s;
}
/* line 161, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides .hover-trigger.water-stomp #AngryRed {
  transform-origin: 50% 50%;
  animation-timing-function: cubic;
  animation-name: bobblemotion2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: -0.5s;
}
/* line 171, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li {
  position: relative;
  white-space: initial;
  min-height: 400px;
  min-width: 260px;
  margin: 5px;
  text-align: center;
  background-color: #222;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  cursor: pointer;
}
/* line 185, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li .gh-posterior {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 192, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li .guide-under {
  width: 100%;
  height: 100%;
  transition: opacity .6s;
  background-size: contain;
  background-image: url(/assets/guide-2-grey-4e3e8e1d1136129f49965be95a30f3c5b1864df1d4b62df1b67679484728664a.png);
  background-color: #262626;
  background-repeat: no-repeat;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
/* line 206, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(1) {
  background-image: url(/assets/guide-cards-1-36cfbddc25b9e61e6036938608bc435425eee01a95e8269487fc128fbd913513.png);
  background-color: #6e6e6e;
  background-size: cover;
}
/* line 210, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(1) .guide-headline {
  opacity: .8;
}
/* line 215, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(2) {
  background-image: url(/assets/guide-2-6648cfdbc8409cb220638d164f898bd9f1d776f681e78a7f5934f92fdefeaa79.png);
  background-size: cover;
}
/* line 218, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(2) .guide-headline {
  background-image: url(/assets/guide-cards-2-9b2d3f84da9475ef521f83b6480af65f5dbba5e00b95be1e6e204a3c0a464daf.png);
  background-size: contain;
  background-color: #444;
  z-index: 100;
  animation: slideUp .2s ease-in forwards;
}
/* line 226, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(2) .gh-posterior-1 {
  background-color: rgba(68, 68, 68, 0.8);
  animation: slideUp .9s ease-out forwards;
}
/* line 227, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(2) .gh-posterior-2 {
  background-color: rgba(68, 68, 68, 0.7);
  animation: slideUp .9s ease-out forwards;
}
/* line 228, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(2) .gh-posterior-3 {
  background-color: rgba(68, 68, 68, 0.6);
  animation: slideUp .9s ease-out forwards;
}
/* line 230, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(2):hover .guide-headline {
  animation: slideDown .3s ease-out forwards;
}
/* line 231, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(2):hover .gh-posterior-1 {
  animation: slideDown .375s ease-out forwards;
}
/* line 232, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(2):hover .gh-posterior-2 {
  animation: slideDown .45s ease-out forwards;
}
/* line 233, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(2):hover .gh-posterior-3 {
  animation: slideDown .6s ease-out forwards;
}
/* line 237, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(3) {
  background-image: url(/assets/guide-cards-3-0c3d7fa657f6b50af40dbf08f9af3179dc3e29bb771e0912a574c3f72bf78427.png);
  background-size: cover;
}
/* line 240, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(3) .guide-under {
  background-image: url(/assets/guide-2-blu-f6cf530d0a82070cc05c0bb74054c2037e9b0742adac58f9a8e335772ca1e0aa.jpg);
  background-color: #2d4654;
}
/* line 244, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(3) .guide-headline {
  opacity: .6;
}
/* line 252, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(4) {
  background-image: url(/assets/guide-2-cb8c777e367ce5804f4bbbf7c318e127c6b8a1e23ff5587210b54bb4475658d7.jpg);
  background-color: #262626;
}
/* line 255, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(4) .guide-headline {
  background-image: url(/assets/guide-cards-4-867e7aa09f80ab559bf334e8724eaf375f29e223fe72e7380b92fbcd590cf855.png);
  background-size: contain;
  background-color: #444;
  animation: slideLeft .2s ease-in forwards;
}
/* line 261, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(4) .gh-posterior-1, .guides li:nth-child(4) .gh-posterior-2, .guides li:nth-child(4) .gh-posterior-3 {
  animation: slideLeft .1s ease-out forwards;
}
/* line 263, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(4):hover .guide-headline {
  background-color: rgba(68, 68, 68, 0.8);
  animation: slideRight .3s ease-out forwards;
}
/* line 264, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(4):hover .gh-posterior-1 {
  background-color: rgba(68, 68, 68, 0.7);
  animation: slideRight .45s ease-out forwards;
}
/* line 265, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(4):hover .gh-posterior-2 {
  background-color: rgba(68, 68, 68, 0.6);
  animation: slideRight .5s ease-out forwards;
}
/* line 266, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li:nth-child(4):hover .gh-posterior-3 {
  background-color: rgba(68, 68, 68, 0.5);
  animation: slideRight .7s ease-out forwards;
}
/* line 269, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li .card__overlay-water {
  position: absolute;
  background-color: #2e4f61;
  z-index: 2;
  cursor: pointer;
  transform: rotate(45deg);
  top: calc(50% - 1.5px);
  left: calc(50% - 1.5px);
  width: 1px;
  height: 1px;
}
/* line 280, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li .card__overlay-water--1 {
  opacity: .2;
  transition: all .3s ease;
}
/* line 285, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li .card__overlay-water--2 {
  opacity: .4;
  transition: all .6s ease;
}
/* line 290, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li .card__overlay-water--3 {
  opacity: .6;
  transition: all .9s ease;
}
/* line 296, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li .card__overlay {
  position: absolute;
  border-radius: 50%;
  background-color: #111;
  z-index: 2;
  transition: all .9s;
  cursor: pointer;
}
/* line 305, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li .card__overlay--1 {
  top: calc(50% - 1.5px);
  left: calc(50% - 1.5px);
  width: 3px;
  height: 3px;
  opacity: .6;
  transition: all .3s ease;
}
/* line 314, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li .card__overlay--2 {
  top: calc(50% - 12.5px);
  left: calc(50% - 12.5px);
  width: 25px;
  height: 25px;
  opacity: .4;
  transition: all .6s ease;
}
/* line 323, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/guide-cards.scss */
.guides li .card__overlay--3 {
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  opacity: .2;
  transition: all .9s ease;
}
@keyframes pulse {
  0% {
    box-shadow: none;
  }
  25% {
    box-shadow: 0 0 0 6px #002f5a;
  }
  50% {
    box-shadow: 0 0 0 12px #202f3d;
  }
  75% {
    box-shadow: 0 0 0 6px #002f5a;
  }
  100% {
    box-shadow: none;
  }
}
@keyframes slideDown {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 115%;
  }
}
@keyframes slideUp {
  0% {
    margin-top: 115%;
  }
  100% {
    margin-top: 0%;
  }
}
@keyframes slideRight {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 100%;
  }
}
@keyframes slideLeft {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
/* line 1, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
* {
  box-sizing: border-box;
}

/* line 4, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
h3 {
  font-family: "baltoBold";
  margin-top: -4px;
  margin-bottom: 4px;
}

/* line 9, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
ul {
  list-style: none;
}

/* line 12, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.fake-article-img {
  width: 100%;
}

/* line 15, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.recirc-sponsored-tag {
  width: 100%;
  text-align: center;
  position: absolute;
  top: -14px;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #01abe9;
}

/* line 25, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.grey-type {
  color: #bbb;
}

/* line 30, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
* {
  box-sizing: border-box;
}

/* line 33, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

/* line 38, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
a:link, a:hover, a:active, a:visited {
  transition: color 150ms;
  color: #bbb;
  text-decoration: none;
}

/* line 43, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
a:hover {
  color: #eee;
  text-decoration: underline;
}

/* line 47, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.recirculation {
  width: 100%;
  color: #ecf0f1;
  background: #333;
  font-family: sans-serif;
  padding: 0 15px 15px 15px;
  overflow: hidden;
}
/* line 54, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.recirculation h2, .recirculation h3 {
  font-size: 17px;
  opacity: .7;
}
/* line 57, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.recirculation h2 span, .recirculation h3 span {
  color: #bbb;
  font-style: italic;
}
/* line 62, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.recirculation h3 {
  padding-left: 8px;
}
/* line 65, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.recirculation h2 {
  font-family: "baltoBold";
  position: absolute;
  top: 7px;
  margin-left: 24px;
  padding: 5px 0;
}
/* line 72, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.recirculation h2.category-header {
  position: absolute;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

/* line 82, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.hide-scrollbar {
  position: relative;
  overflow: hidden;
  width: 101vw;
  height: 210.6px;
  padding: 0 2vw;
  margin: 0 -2vw;
}
/* line 90, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.hide-scrollbar:nth-child(1) .tile {
  background: #333;
}
/* line 95, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.hide-scrollbar:nth-child(1) .tile .tile__img {
  opacity: .4;
}
/* line 101, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.hide-scrollbar:nth-child(2) {
  margin-bottom: 16px;
  background: #222;
}
/* line 104, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.hide-scrollbar:nth-child(2) .tile:hover .tile-headline {
  opacity: 0.15;
}
/* line 107, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.hide-scrollbar:nth-child(2) .tile__title {
  top: 45px;
  padding: 0 30px;
}
/* line 111, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.hide-scrollbar:nth-child(2) .tile-headline {
  top: 20px;
  left: 0;
  width: 95%;
  margin-left: -2.5%;
}
/* line 117, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.hide-scrollbar:nth-child(2) .tile-headline h2 {
  margin: 0;
  font-family: "baltoBold";
  font-weight: normal;
  font-style: italic;
  background: white;
  color: #000;
  padding: 15px;
}
/* line 128, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.hide-scrollbar .row {
  overflow-x: scroll;
  margin: 0px -2vw;
  position: relative;
  overflow-y: hidden;
  height: calc(100% + 15px);
}
/* line 136, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.hide-scrollbar .row__inner {
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 35px 0;
  padding-left: 25px;
}

/* line 147, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.tile {
  white-space: initial;
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  background-color: #444;
}

/* line 160, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.tile__img {
  width: 250px;
  height: 140.625px;
  object-fit: cover;
  opacity: .6;
}

/* line 166, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.tile-headline {
  position: absolute;
  top: 50px;
  left: 0px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 20px;
  transition: 450ms opacity;
}

/* line 175, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.65) 30%, rgba(0, 0, 0, 0) 100%);
  transition: 450ms opacity;
  will-change: opacity, transform;
}

/* line 187, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.title-overlay {
  position: relative;
  bottom: 10px;
}

/* line 191, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.tile__details:after, .tile__details .tile-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
  will-change: transform;
}

/*
 .tile__details:after {
	 margin-top: -25px;
	 margin-left: -25px;
	 width: 50px;
	 height: 50px;
	 border: 3px solid #ecf0f1;
	 line-height: 50px;
	 text-align: center;
	 border-radius: 100%;
	 background: rgba(0,0,0,0.5);
	 z-index: 1;
}
*/
/* line 213, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.tile__details .tile-1 {
  left: 0;
  width: 100%;
  padding: 0 40px;
  font-weight: bold;
  font-size: 14px;
  margin-top: -38px;
  z-index: 2;
}

/* line 223, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.tile:hover .tile__details {
  opacity: 1;
}

/* line 226, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.tile:hover .tile-headline {
  opacity: 0.3;
}

/* line 231, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.tile:first-child .tile__title {
  padding: 0 40px;
}

/* line 236, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.tile__title {
  width: 100%;
  position: absolute;
  top: 50px;
  padding: 0 20px;
}

/* line 243, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.tile-inner-headline {
  width: 100%;
  position: absolute;
  top: 15px;
  padding: 0 40px;
}

/* line 250, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.row__inner:hover {
  transform: translate3d(-62.5px, 0, 0);
}

/* line 253, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.row__inner:hover .tile {
  opacity: 0.3;
}

/* line 256, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.row__inner:hover .tile:hover {
  transform: scale(1.5);
  opacity: 1;
}

/* line 260, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/recirc.scss */
.tile:hover ~ .tile {
  transform: translate3d(125px, 0, 0);
}
/* line 1, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/water-stomp.scss */
.center {
  text-align: center;
  position: absolute;
  top: 125px;
  left: 0;
  width: 100%;
}

/* line 8, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/water-stomp.scss */
#AngryRed {
  opacity: 0;
}

/* line 11, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/water-stomp.scss */
.stomp-svg-wrap {
  position: relative;
  z-index: 3;
  opacity: 1;
  transition: all .5s;
}

/* line 18, /Users/jofu/Documents/design work/inman/recirculation/code/recirc/app/assets/stylesheets/water-stomp.scss */
.guide-trigger .stomp-svg-wrap {
  opacity: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

