@font-face {
  font-family: 'baltoBold';
  src: url('bb.otf'); /* IE9 Compat Modes */
  src: local("☺"),
    url("bb.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'harrietbold';
  src: url('hb.otf'); /* IE9 Compat Modes */
  src: local("☺"),
    url("hb.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: 'hli';
  src: url('hli.otf'); /* IE9 Compat Modes */
  src: local("☺"),
    url("hli.otf") format("opentype");
}
