.center {
  text-align: center;
  position: absolute;
  top: 32.5px;
  left: 0;
  width:100%;
  zoom:1.5;
}
#AngryRed {
  opacity: 0;
}
.stomp-svg-wrap {
  position: relative;
  z-index: 3;
  opacity: 1;
  transition: all .5s;
}
.guide-trigger {
  .stomp-svg-wrap{
    opacity: 0;
  }
}
