.center
  .card__overlay-water.card__overlay-water--1
  .card__overlay-water.card__overlay-water--2
  .card__overlay-water.card__overlay-water--3
  .stomp-svg-wrap
    %svg{"enable-background" => "new 0 0 306.818 306.818", :height => "180px", :version => "1.1", :viewbox => "0 0 306.818 306.818", :width => "100%", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
      %g#BlockUnder
        %polygon{:fill => "#1a3358", :points => "153.409,219.216 109.659,181.147\n109.659,139.329 153.409,177.397         "}
        %polygon{:fill => "#3c5881", :points => "197.159,139.329 153.409,177.397\n153.409,219.216 197.159,181.147         "}
      %g#BackRipple1
        %g
          %polyline{:fill => "none", :opacity => "0", :points => "197.975,146.38 153.409,185.161 108.84,146.38            ", :stroke => "#2db7ff"}
          %polyline{:fill => "none", :points => "108.84,146.38\n153.409,107.603 197.975,146.38          ", :stroke => "#2db7ff"}
      %g#BackRipple2
        %g
          %polyline{:fill => "none", :opacity => "0", :points => "197.975,146.38 153.409,185.161 108.84,146.38            ", :stroke => "#2db7ff"}
          %polyline{:fill => "none", :points => "108.84,146.38\n153.409,107.603 197.975,146.38          ", :stroke => "#2db7ff"}
      %g#BackRipple3
        %g
          %polyline{:fill => "none", :opacity => "0", :points => "197.975,146.38 153.409,185.161 108.84,146.38            ", :stroke => "#2db7ff"}
          %polyline{:fill => "none", :points => "108.84,146.38\n153.409,107.603 197.975,146.38          ", :stroke => "#2db7ff"}
      %g#BlockOver
        %polygon{:fill => "#b1b1b1", :points => "153.409,184.432 109.659,146.363\n109.659,127.329 153.409,165.397         "}
        %polygon#AngryRed{:fill => "#8bc5e4", :points => "153.409,184.432 109.659,146.363\n109.659,127.329 153.409,165.397         "}
        %polygon{:fill => "#c1c1c1", :points => "197.159,127.329 153.409,165.397\n153.409,184.432 197.159,146.363         "}
        %polygon#AngryRed{:fill => "#a5e0ff", :points => "197.159,127.329 153.409,165.397\n153.409,184.432 197.159,146.363         "}
        %polygon{:fill => "#717171", :points => "153.409,165.397 197.096,127.384\n153.409,89.371 109.722,127.384  "}
        %polygon#AngryRed{:fill => "#2db7ff", :points => "153.409,165.397 197.096,127.384\n153.409,89.371 109.722,127.384  "}
      %g#BlockOverX
        %polygon{:fill => "#b1b1b1", :points => "153.409,184.432 109.659,146.363\n109.659,127.329 153.409,165.397         "}
        %polygon#AngryRed{:fill => "#8bc5e4", :points => "153.409,184.432 109.659,146.363\n109.659,127.329 153.409,165.397         "}
        %polygon{:fill => "#c1c1c1", :points => "197.159,127.329 153.409,165.397\n153.409,184.432 197.159,146.363         "}
        %polygon#AngryRed{:fill => "#a5e0ff", :points => "197.159,127.329 153.409,165.397\n153.409,184.432 197.159,146.363         "}
      %g#FrontRipple1
        %g
          %polyline{:fill => "none", :opacity => "0", :points => "197.975,146.384 153.409,107.603 108.84,146.384          ", :stroke => "#2db7ff"}
          %polyline{:fill => "none", :points => "108.84,146.384\n153.409,185.161 197.975,146.384                 ", :stroke => "#2db7ff"}
      %g#FrontRipple2
        %g
          %polyline{:fill => "none", :opacity => "0", :points => "197.975,146.384 153.409,107.603 108.84,146.384          ", :stroke => "#2db7ff"}
          %polyline{:fill => "none", :points => "108.84,146.384\n153.409,185.161 197.975,146.384                 ", :stroke => "#2db7ff"}
      %g#FrontRipple3
        %g
          %polyline{:fill => "none", :opacity => "0", :points => "197.975,146.384 153.409,107.603 108.84,146.384          ", :stroke => "#2db7ff"}
          %polyline{:fill => "none", :points => "108.84,146.384\n153.409,185.161 197.975,146.384                 ", :stroke => "#2db7ff"}
